{% extends "layouts/main.html" %}

{% set pageName = serviceName %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
      <p>To apply for a juggling license you must explain your juggling ability.</p>

      {{ govukButton({
        text: "Start now",
        href: "/new/juggling-balls",
        isStartButton: true
      }) }}
    </div>
  </div>
{% endblock %}
