{% extends "layouts/main.html" %}

{% set pageName = "Accessibility" %}

{%- set markdownContent -%}
  Sint non non ea. Lorem ad voluptate qui esse esse ullamco eu reprehenderit. Ad sit quis ex cupidatat ad eiusmod labore. Officia exercitation sint aliqua nisi magna dolore in duis Lorem non veniam proident. Elit commodo deserunt anim. Dolor ex aliqua et enim nostrud. Occaecat duis voluptate fugiat eiusmod aliquip commodo magna laboris. Adipisicing et dolor occaecat.

  ## Deserunt et eu elit id dolor ut nisi consectetur deserunt

  Nisi officia officia dolor anim elit non elit excepteur quis officia. Velit laboris in voluptate occaecat tempor nisi minim officia qui esse consequat. Exercitation adipisicing ut ea laborum laboris sit ipsum veniam ut ad duis tempor.

  - Irure
  - Officia
  - Tempor
{%- endset -%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{pageName}}</h1>
      {{markdownContent | govukMarkdown({headingsStartWith: 'l'})}}
    </div>
  </div>

{% endblock %}
